[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alexander/Desktop/Epic Games Launcher.lnk]
row=4
col=0

[/home/alexander/Desktop/Epic Games Launcher.desktop]
row=3
col=0

[/home/alexander/Desktop/LIMBO.desktop]
row=8
col=0

[/home/alexander/Desktop/steam.desktop]
row=2
col=0

[6782ca79-cef8-4e2a-8783-da48bebf30c2]
row=5
col=0

[Корзина]
row=7
col=0

[/]
row=0
col=0

[/home/alexander]
row=1
col=0

