[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alexander/Games]
row=3
col=1

[/home/alexander/start-virt.sh]
row=1
col=1

[/home/alexander/testsw]
row=7
col=1

[/home/alexander/StartWine-Launcher]
row=2
col=2

[/home/alexander/startwine]
row=8
col=1

[/home/alexander/Videos]
row=5
col=0

[/home/alexander/Scripts]
row=6
col=1

[/home/alexander/warp-cloudflare-gui]
row=5
col=1

[/home/alexander/audioLex]
row=1
col=2

[/home/alexander/Video]
row=8
col=0

[/home/alexander/BDPasswordMe.kdbx]
row=3
col=0

[/home/alexander/Programming]
row=6
col=0

[/home/alexander/images]
row=2
col=0

[/home/alexander/gittutor]
row=2
col=1

[/home/alexander/test]
row=0
col=2

[/home/alexander/savenotebook.tar.gz]
row=4
col=1

[/home/alexander/obs-source]
row=4
col=0

[/home/alexander/Downloads]
row=0
col=1

[Корзина]
row=7
col=0

[/]
row=0
col=0

[/home/alexander]
row=1
col=0

